<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<!--
REQUIREMENTS
Your web app requires this core functionality, with no limit on page/screen count:
•	List all appointments
•	List appointments for a selected user
•	View appointment details and its respective notes
•	Edit appointment details
•	Add a note to an appointment

no functionality required to be able to make an appointment ^^
-->

<app-get-records></app-get-records>

<!--
<button (click)="getPosts()">Get all posts</button>

<button (click)="getPostByID()">Get post by ID</button>

<div *ngFor="let post of posts | async">
  {{ post | json }}
</div>
-->
