<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<app-appointment></app-appointment>

<!------------------ REQUIREMENTS -----------------

API help page: http://devtechtest.previewourapp.com/help

•	List all appointments
  List appointments but don't show all details
  (API: http://devtechtest.previewourapp.com/api/Appointment?providerEmail=benjiiman12@gmail.com)

•	List appointments for a selected user
  (API: http://devtechtest.previewourapp.com/api/Appointment?providerEmail=benjiiman12@gmail.com&id={id})

•	View appointment details and its respective notes
  After listing all appointments, selecting one will show its details & notes

•	Edit appointment details
  (PUT: http://devtechtest.previewourapp.com/api/Appointment?providerEmail=benjiiman12@gmail.com)
  Include the body of the request in json format with fields filled

•	Add a note to an appointment
  After listing all appointments and one is selected (view appointment details), create an add note button and text input field
  (PUT: http://devtechtest.previewourapp.com/api/Appointment?providerEmail=benjiiman12@gmail.com)
  Include the entire objects details in json format, including the added note


To create appointment:
(no functionality required to be able to make an appointment)
POST: http://devtechtest.previewourapp.com/api/Appointment?providerEmail=benjiiman12@gmail.com
and in the body of the post, include a json/xml of the appointment fields

------------------------------------------------------------>
