
<button class="button" (click)="getAppointments(); updateResponse='';">View all appointments</button>
<br><br><br>


<form *ngIf="showIdInput">
  <!-- <button (click)="getAppointmentByID()">Get post by ID</button> -->
  <input type="text" class=txt name="item" [(ngModel)]="inputId" placeholder="Enter an ID">
  <!-- <br><span>{{ inputId }}</span> -->
  <input class="button" type="submit" (click)="getAppointmentFilterID(inputId)" value="List appointments for user">
</form>


<table class="hoverTable" *ngIf="showAppointmentsForId">

  <div *ngFor="let appoint of appointments | async; first as isFirst" > <!-- print out each post object of the list called posts -->

    <!-- because the array of id's in the Party field are returned as a string, search the string to find the corresponding id -->
    <!--<tr *ngIf="post.Party.indexOf(getInputId()) != -1">-->
    <!-- <tr *ngIf="partyHasId(post.Party)"> -->

    <tr *ngIf="isFirst;">
      <th>ID</th>
      <th>Description</th>
      <th>Start</th>
      <th>Party</th>
    </tr>

    <tr *ngIf="partyHasId(appoint.Party, appoint.Id); else elseBlock" (click)="onClickAppointment(appoint); updateResponse='';">



      <!--<span *ngIf="isFirst"><p>ID {{inputId}} has the following appointments:</p></span>-->
        <th>{{appoint.Id}}</th>
        <th>{{appoint.Description}}</th>
        <th>{{appoint.Start | date:'dd-MM-yyyy HH:mm a'}}</th>
        <th>{{appoint.Party}}</th>

    </tr>

    <ng-template #elseBlock *ngIf="isLast"> Alternate text while primary text is hidden</ng-template>

  </div>

</table>



<table class="hoverTable" *ngIf="showAllAppointments">
  <div *ngFor="let appoint of appointments | async; first as isFirst" (click)="onClickAppointment(appoint); updateResponse='';" > <!-- print out each post object of the list called posts -->
    <!-- {{ appoint | json }} this shows the response in JSON format-->
    <span *ngIf="isFirst" style="color:white; font-size:18px;">
      <p id="helpText">Click an appointment to view appointment details or edit/add note.</p>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Start</th>
      </tr>
    </span>

    <tr>
      <th>{{ appoint.Id }}</th>
      <th>{{ appoint.Description }}</th>
      <th>Date: {{ appoint.Start | date:'dd-MM-yyyy' }} <br>Time: {{ appoint.Start | date:'HH:mm a' }}</th>
    </tr>
  </div>
</table><!-- End of ALL appointments table -->


<div *ngIf="showAppointmentDetails">
  <br>
  <p id="helpText">Appointment details:</p>
  <table>

    <tr style="color: white; font-size:18px;">
      <th>ID</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Notes</th>
      <th>Party</th>
    </tr>
    <!-- Each table-row cell has an edit button binded to the appointment.attribute inside the cell-->
    <tr>
    <!--<tr contenteditable="true"> contenteditable doesn't quite work, cannot bind or get value -->
      <th><!-- ID FIELD -->

        {{ appointment.id}}

        <!-- appointment field should not be editbale, will create new records and interfere with the API

        <div *ngIf="editable.id">
          <input [(ngModel)]="appointment.id">
          <button (click)="editable.id=false">Save</button>
        </div>
        <div *ngIf="!editable.id">
          <button (click)="editable.id=true">Edit</button>
          <label><br>{{ appointment.id }}</label>
        </div>
        -->
      </th>

      <th><!-- DESCRIPTION FIELD -->
        <div *ngIf="editable.description"><!-- if the description field is editable-->
          <input [(ngModel)]="appointment.description"><!-- bind the input to the field -->
          <button (click)="editable.description=false">Save</button><!-- show save button instead of edit button -->
        </div>
        <div *ngIf="!editable.description"><!-- if the description field is not editable -->
          <button (click)="editable.description=true">Edit</button><!-- show edit button-->
          <label><br>{{ appointment.description }}</label>
        </div>
      </th>

      <th><!-- START FIELD -->
        <div *ngIf="editable.start">
          <input type="datetime-local" [(ngModel)]="appointment.start">
          <button (click)="editable.start=false">Save</button>
        </div>
        <div *ngIf="!editable.start">
          <button (click)="editable.start=true">Edit</button>
          <label><br>Date: {{ appointment.start | date:'dd-MM-yyyy' }} <br>Time: {{ appointment.start | date:'HH:mm a'}}</label>
        </div>
      </th>

      <th><!-- END FIELD -->
        <div *ngIf="editable.end">
          <input type="datetime-local" [(ngModel)]="appointment.end">
          <button (click)="editable.end=false">Save</button>
        </div>
        <div *ngIf="!editable.end">
          <button (click)="editable.end=true">Edit</button>
          <label><br>Date: {{ appointment.end | date:'dd-MM-yyyy' }} <br>Time: {{ appointment.end | date:'HH:mm a'}}</label>
        </div>
      </th>

      <th><!-- NOTES FIELD -->
        <div *ngFor="let note of appointment.notes;  let i = index">{{ note }}
          <a (click)="removeNoteFromNotes(note, i)">  remove</a>
          <br>
        </div>

        <div><!-- this is the edit note input and button -->
          <input type="text" class=txt name="item" [(ngModel)]="inputNote" placeholder="Add a note">
          <input type="submit" (click)="addNote(appointment, inputNote)" value="Add note">
        </div>
      </th>

        <th><!-- PARTY FIELD -->
          <div *ngFor="let userId of appointment.party; let i = index">{{ userId }}
            <a (click)="removeIdFromParty(userID, i)">  remove</a>
          </div>

          <div><!-- this is the edit note input and button -->
            <input type="text" class=txt name="item" [(ngModel)]="inputPartyId" placeholder="(ID)">
            <input type="submit" (click)="appointment.party.push(inputPartyId); inputPartyId=''; " value="Add to party">
          </div>
        </th>

      </tr>
    </table>

    <input class=button type="submit" (click)="updateAppointmentDetails(appointment)" value="Submit update">

    <div *ngIf="updateResponse" id="helpText">Appointment details updated!</div><!-- if the update response is not empty-->


</div> <!-- End of appointment details table -->
