
<button (click)="getPosts()">View all appointments</button>
<br><br><br>


<form *ngIf="showIdInput">
  <!-- <button (click)="getPostByID()">Get post by ID</button> -->
  <input type="text" class=txt name="item" [(ngModel)]="inputId" placeholder="Enter an ID">
  <br><span>{{ inputId }}</span>
  <input type = "submit" (click)="getPostByID(inputId)" value="List appointments for user">
</form>

<!--
<p [(ngModel)]="appointment">
text: {{appointment}}
</p>
-->

<table *ngIf="showAppointmentsForId">
  <div *ngFor="let post of posts | async; first as isFirst;  last as isLast" > <!-- print out each post object of the list called posts -->
    <!-- need to add all details to isFirst table row
    <span *ngIf="isFirst">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Start</th>
      </tr>
    </span> -->
    <span *ngIf=isLast>last as isLast</span>
    <!-- because the array of id's in the Party field are returned as a string, search the string to find the corresponding id -->
    <!--<tr *ngIf="post.Party.indexOf(getInputId()) != -1">-->
    <!-- <tr *ngIf="partyHasId(post.Party)"> -->
    <tr *ngIf="partyHasId(post.Party, post.Id); else elseBlock">
      <!--<span *ngIf="isFirst"><p>ID {{inputId}} has the following appointments:</p></span>-->


        <th>{{post.Description}}</th>
        <th>{{post.Start | date:'dd-MM-yyyy HH:mm z'}}</th>
        <th>{{post.End | date:'dd-MM-yyyy HH:mm z'}}</th>
        <th>{{post.Notes}}</th>
        <th>{{post.Party}}</th>


      <!-- DEBUG: need to replace 4 with inputId-->

      <!--
      <th>{{post.Id}}</th>
      <th>{{post.Description}}</th>
      <th>{{post.Start | date:'dd-MM-yyyy HH:mm z'}}</th>
    -->
    </tr>

    <ng-template #elseBlock *ngIf="isLast"> Alternate text while primary text is hidden</ng-template>

    <!-- {{ post | json }} this shows the response in JSON format-->

  </div>
</table>



<table *ngIf="showAllAppointments">
  <div *ngFor="let post of posts | async; first as isFirst" (click)="onClick(post)" > <!-- print out each post object of the list called posts -->

    <span *ngIf="isFirst">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Start</th>
      </tr>
    </span>

    <tr>
      <th>{{post.Id}}</th>
      <th>{{post.Description}}</th>
      <th>{{post.Start | date:'dd-MM-yyyy HH:mm z'}}</th>
    </tr>

    <!-- {{ post | json }} this shows the response in JSON format-->

  </div>
</table>

<div *ngIf="showAppointmentDetails">
  <br>
  <table >
    <tr>
      <th>{{appointment.id}}</th>
      <th>{{appointment.description}}</th>
      <th>{{appointment.start | date:'dd-MM-yyyy HH:mm z'}}</th>
      <th>{{appointment.end | date:'dd-MM-yyyy HH:mm z'}}</th>
      <th>{{appointment.notes}}</th>
      <th>{{appointment.party}}</th>
    </tr>
  </table>

    <!-- <button (click)="getPostByID()">Get post by ID</button> -->
    <input type="text" class=txt name="item" [(ngModel)]="note" placeholder="Add a note">
    <input type = "submit" (click)="addNote(appointment, note)" value="Add note">

</div>
